*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #080808;
    color:#fff
}

#header{
    width: 100%;
    height:100vh;
    background-image: url(/assets/images/background.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding:10px 10%;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width:180px;
}

nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 20px;
}

nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    POSITION:relative;
}

nav ul li a::after{
    width:0;
    height:3px;
    content: '';
    position:absolute;
    left:0;
    bottom:-5px;
    background: #ff0000;
    transition:0.5s ease;
}

nav ul li a:hover::after{
    width:100%;
}


.header-text{
    margin-top:20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top:20px;
}

.header-text h1 span{
    color:#ff0000;
}

/* ABOUT SECTION */
#about{
    padding:80px 0;
    color:#ababab
}

.row{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width:100%;
    border-radius:15px;
    height: 800px;

}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight:700;
    color:#ffffff;
}

.tab-title{
    display:flex;
    margin:20px 0 40px
}

.about-text{
    font-size: 20px;
    line-height: 1.8;
}

.tab-links{
    margin-right:50px;
    font-size:28px;
    font-weight:500;
    cursor:pointer;
    position:relative;
    color:rgb(255, 255, 255);
}

.tab-links::after{
    width:0;
    height:3px;
    content: '';
    position:absolute;
    left:0;
    bottom:-8px;
    background: #ff0000;
    transition:0.5s ease;
}

.tab-links.active-link::after{
    width:50%;
}

.tab-contents ul li{
    list-style:none;
    margin:10px 0;
    font-size:20px;
    line-height: 1.7;
}

.tab-contents ul li span{
    color:#ffffff;
    font-size:20px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display:block;
}

/* Services Section */

#services{
    padding:30px 0;
    color:#ababab
}

.services-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:40px;
    margin-top:50px;
}

.color{
    color:white;
}

.services-list div{
    background-color: #262626;
    padding:40px;
    font-size:20px;
    font-weight: 30px;
    border-right:10px;
    border-radius:15px;
    line-height:1;
    transition: background 0.5s, transform 0.5s;
}

.services-list div span{
    font-size:90px;
    margin-bottom:30px;
}

.services-list div h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom:20px;
}

.services-list div a{
    text-decoration:none;
    color:#ffff;
    font-size:15px;
    display:inline-block;
    margin-top:30px;
}

.services-list div a:hover{
    color:#ffffff;
}

.services-list div:hover{
    background-color: #616161;
    transform: translateY(-10px);
}

/* Portfolio Section */

#portfolio{
    padding:50px 0;
}

.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:40px;
    margin-top:50px;
}

.work{
    border-radius:15px;
    position:relative;
    overflow:hidden;
}

.work img{
    width:100%;
    border-radius: 15px;
    display: block;
    transition:transform 0.5s;
}

.layers{
    width:100%;
    height:0%;
    background: linear-gradient(rgba(0,0,0,0.6),#cccccc);
    border-radius:15px;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
    align-items:center;
    justify-content:center;
    display:flex;
    flex-direction: column;
    padding:0 40px;
    text-align:center;
    font-size:20px;
    transition:height 0.5s;
}

.layers h3{
    font-weight: 700;
    margin-bottom:20px;
}

.layers a{
    margin-top:20px;
    color:#000000;
    text-decoration: none;
    font-size:40px;
    width:70px;
    height:70px;
    border-radius:50%;
    background:#fff;
    line-height:65px;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layers{
    height:100%;
}